<!DOCTYPE html>
<html lang="en-US" dir="ltr" class="navbar-combo chrome windows fontawesome-i2svg-active fontawesome-i2svg-complete"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="admin-page-layout(main_content)">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Rayark Shop</title>

  <link type="text/css" rel="stylesheet" th:href="@{/admin/css/admin-page.css}">

  <link rel="apple-touch-icon" sizes="180x180"
        href="https://prium.github.io/phoenix/v1.11.0/assets/img/favicons/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32"
        href="https://prium.github.io/phoenix/v1.11.0/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
        href="https://prium.github.io/phoenix/v1.11.0/assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon"
        href="https://prium.github.io/phoenix/v1.11.0/assets/img/favicons/favicon.ico">
  <link rel="manifest" href="https://prium.github.io/phoenix/v1.11.0/assets/img/favicons/manifest.json">

  <meta name="msapplication-TileImage" content="../../../assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">

  <script th:src="@{/admin/js/imagesloaded.pkgd.min.js}"></script>
  <script th:src="@{/admin/js/simplebar.min.js}"></script>
  <script th:src="@{/admin/js/config.js}"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
  <link th:href="@{/admin/css/css2.css}" rel="stylesheet">
  <link th:href="@{/admin/css/simplebar.min.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/admin/css/line.css}">
  <link th:href="@{/admin/css/theme-rtl.min.css}" type="text/css" rel="stylesheet" id="style-rtl" disabled="true">
  <link th:href="@{/admin/css/theme.min.css}" type="text/css" rel="stylesheet" id="style-default">
  <link th:href="@{/admin/css/user-rtl.min.css}" type="text/css" rel="stylesheet" id="user-style-rtl" disabled="true">
  <link th:href="@{/admin/css/user.min.css}" type="text/css" rel="stylesheet" id="user-style-default">

  <script th:src="@{/admin/js/admin-page.js}"></script>
</head>

<body>
<main class="main" id="top">
  <div class="container-fluid px-0" data-layout="container">
    <nav th:replace="admin/fragments/navbar-vertical :: navbar-vertical"></nav>

    <nav th:replace="admin/fragments/header :: header"></nav>

    <th:block th:replace="${main_content} ?: ~{}"></th:block>

  </div>

  <div th:replace="admin/fragments/chat-box :: chat-box"></div>

</main>

<script th:src="@{/admin/js/popper.min.js}"></script>
<script th:src="@{/admin/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/anchor.min.js}"></script>
<script th:src="@{/admin/js/is.min.js}"></script>
<script th:src="@{/admin/js/all.min.js}"></script>
<script th:src="@{/admin/js/lodash.min.js}"></script>
<script th:src="@{/admin/js/polyfill.min.js}"></script>
<script th:src="@{/admin/js/list.min.js}"></script>
<script th:src="@{/admin/js/feather.min.js}"></script>
<script th:src="@{/admin/js/dayjs.min.js}"></script>
<script th:src="@{/admin/js/phoenix.js}"></script>
<script th:src="@{/admin/js/admin-page.js}"></script>

</body>

</html>