.image-container {
    position: relative;
    display: inline-block;
}

.remove-button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.image-container:hover .remove-button {
    display: block;
}