<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quản lý sản phẩm - Rayark</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="../img/icon.png" />

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/all.css}">
  <link rel="stylesheet" th:href="@{/admin/css/product-manager.css}">


  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/js/popper.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script src="https://kit.fontawesome.com/ed7f962f1f.js" crossorigin="anonymous"></script>
  <script th:src="@{/js/script.js}"></script>
  <script th:src="@{/admin/js/product-manager.js}"></script>
</head>
<body>
<div th:fragment="admin-header" class="header">
  <div class="row bg-primary m-0 px-5 py-3">
    <div class="col-6 align-self-center">
      <a class="navbar-brand" href="#"><img style="width: 100px;" src="../../img/rayark-white-logo.png" alt=""></a>
    </div>
    <div class="col-6 align-self-center text-end">
      <a href="" style="font-size: 14px;">Cần trợ giúp&nbsp;&nbsp;<i class="far fa-question-circle"></i></a>
    </div>
  </div>
</div>
</body>
</html>